/* 
    Document   : styles
    Created on : Jul 22, 2013, 2:13:44 PM
    Author     : SONY
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color:  #cccc00;
    margin-left: 100px;
    margin-top: 50px;
}
#logo{
    float: left;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: #1f8dd6;
    font-size: 400%;
}
h1 a:link{
    color: #1f8dd6;
}
h1 a:visited{
    color: #1f8dd6;
}
h1 a:hover{
    color: black;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: #1f8dd6;
}
h2.model{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 250%;
}
h2 a:link{
    color: #1f8dd6;
}
h2 a:visited{
    color: #1f8dd6;
}
h2 a:hover{
    color: black;
}
#headline{
    padding-top: 50px;
}
section{
    padding-top: 40px;
    margin-right: 150px;
}
label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
}
a{
    text-decoration: none;
}
nav{
    top:0px;
    font-family: 'Source Sans Pro', sans-serif; 
    margin-left: 120px;
    height:63px;
    font-size: 200%;
    font-weight: lighter;

}
nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav li{
        display: block;
	float: left;
        color: white;
        padding: 20px;     
        text-align: left;
}

nav li ul {
        margin-top: 7px;
	position: absolute;
	width: 9em;
       	left: -999em;
/*        border-style: ridge;
        border-color: #E6E6E6;
        border-width:  thin;*/
}
nav.title{
    padding-top: 20px; 
}
nav li ul li{
    color: black;
    width: 8em;
    padding: 6px;
}
nav li:hover ul {
	left: auto;
}
nav li:hover{
    color: black;
}
nav li a{
	display: block;
	text-decoration: none;
        color: white;
}

nav li a:link{
	color: white;
}

nav li a:visited{
	color: white;
}

nav li a:hover{
	color: black;
}

nav li a:active{
	color:  #000;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 1.3em;
}
#phone_img{
    float: left;
    padding-right: 50px;
    padding-bottom: 50px;
}
#desc{
    margin-right: 50px;
}
footer{
    clear: left;
    padding-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}
footer p{
    font-size: 1em;
}
table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid black;
border-style: ridge;
font-family: 'Source Sans Pro', sans-serif;
font-weight: lighter;
font-size: 1.2em;
}
input,select{
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}
input.input1{
    margin-left: 70px;
}
input.large{
    width: 50%;    
    height: 100px;
}
#u_photo{
    padding-top: 40px;
}